body {
    background-color: black;
    z-index: 0;
}

.titol {
    z-index: 1;
    position: relative;
    left: 10%;
}

#imatgeTitol {
    background: url("../img/header.jpg") 50% 50% no-repeat;
    background-size: cover;
    z-index: 0;
}

#lletraBlanca {
    color: white;
}

#fondo {
    background-color: white;
    z-index: 1;
}

#imagenResponsible {
    max-width: 100%;
    height: auto;
}

#capEsquerra {
    right: 10%;
}

#capDreta {
    left: 10%;
}

.publicidadEscritori {
    float: right;
    width: 300px;
    height: 2000px;
    background-color: red;
    margin-left: 10px;
}

.publicidadMovil {
    height: 90px;
    background-color: red;
}